<p>canvas-signature works!</p>

<br/>
<br/>

<br/>
<br/>

<canvas #sigPad width="300" height="150" 
  (mousedown)="handleWritingStart($event)"
  (mousemove)="handleWritingInProgress($event)"
  (mouseup)="handleDrawingEnd($event)"
  (mouseout)="handleDrawingEnd($event)"

  (touchstart)="handleWritingStart($event)"
  (touchmove)="handleWritingInProgress($event)"
  (touchend)="handleDrawingEnd($event)"
  >
</canvas>
 
<br/>
  <button (click)="clear()">clear</button>
  <button (click)="save()">save</button>
<br/>
  
<img [src]="img">
<br/>
  
<span>
    {{img}}
</span>


